.App{
  background-color: #F6F6F6;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchContainer {
  position: relative;
  width: 47rem;
  margin-top: 3rem;
}

.searchInput {
  width: 100%;
  height: 5rem;
  background-color: #DADADA;
  border: none;
  border-radius: 2rem;
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 4rem;
  outline: none;
}

.searchInput::placeholder {
  color: #000000;
  opacity: 0.5;
}

.searchIcon {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  cursor: pointer;

  background-color: #ffffff;
  padding: 0.7rem;
  border-radius: 50%;
}

header {
  margin-left: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.busket {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding-right: 3rem;
}


.categoryCoffee {
  width: 9rem;
  max-height: calc(5 * 6rem + 4 * 0.8rem + 2rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  background: transparent;
  border-radius: 1.6rem;
  box-sizing: border-box;
}

.categoryCoffee ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-sizing: border-box;
}

.categoryCoffee li {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
  padding: 0.5rem 1rem; 
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
}

.categoryCoffee li:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.categoryCoffee li.selectedCoffee {
  background-color: #AC8F64;
  color: white;
}

.categoryCoffee::-webkit-scrollbar {
  display: none;
}
.categoryCoffee {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.coffeeContainer {
  display: flex;
  flex-wrap: row;
  gap: 2rem;
  padding: 2rem;
}

.cardCoffee {
width: 100%;
height: auto;
box-sizing: border-box;
background:  #FFFFFF;
border-radius: 2rem;
box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.08);
align-items: center;
padding: 1.5rem;
margin: 0;
transition: transform 0.3s ease, box-shadow 0.3s ease;
cursor: pointer;
}

.cardCoffee:hover {
transform: translateY(-8px);
box-shadow: 0 20px 40px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.1);
}

.cardCoffee img {
width: 100%;
height: 12rem;
border-radius: 1.5rem;
margin-bottom: 1rem;
}


.cardCoffee h3 {
font-size: 1.5rem;
color: #4b3f2f;
margin-bottom: 0.5rem;
text-align: center;
}

.cardCoffee p {
font-size: 1rem;
color: #6b5e4a;
text-align: center;
margin-bottom: 1rem;
line-height: 1.4;
}

.cardCoffee span {
font-weight: 700;
font-size: 1.2rem;
color: #AC8F64;
padding: 0.5rem 1rem;
border-radius: 1rem;
background: #f7f2eb;
}

.cardCoffee-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 22.96rem));
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

.addCoffee, .delCoffee {
  background: #d3c9c9;
  color: #000000;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 1rem; 
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease ;
}

.addCoffee:hover, .delCoffee:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  background: #d1b084;
}

.addCoffee:active, .delCoffee:active {
  transform: scale(0.95);
  box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}

.invisible{
  display: none;
}

.footerCoffeeCard {
  display: flex;
  justify-content: center;
}


.imgWrapper {
  position: relative;
}

.coffeeCounter {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  background: #AC8F64;
  color: white;
  font-weight: 700;
  padding: 0.3rem 0.7rem;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.modal-content {
  background: white;
  width: 400px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -5px 0 15px rgba(0,0,0,0.3);
  position: relative;
  animation: slideIn 0.3s ease-out;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.basketWrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 4rem;
  margin-top: 2.3rem;
}

.basketIcon {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  background: #ffffff;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}


.basketIcon svg {
  width: 2rem;
  height: 2rem;
}

.basketCounter {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;

  background: #AC8F64;
  color: white;

  font-size: 0.85rem;
  font-weight: 700;

  padding: 0.35rem 0.55rem;
  border-radius: 1rem;

  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}


